<div class="jumbotron jumbotron-fluid jumbotron-welcome">
    <div class="container">
        <h1 class="display-4">Our Work</h1><br /><br />
        <p class="lead"><b>AABHAR </b>, focuses on developing the potential of rural masses to drive long lasting
            equitable changes. We strategically work to help develop sustainable livelihood opportunities, promote
            quality healthcare, inclusive education, and protect environment and heritage. Our efforts are focused to
            fight against underlying causes of migration from rural areas and help ensure a life of dignity and security
            to the people of rural areas.
            <br /><br />
            Our key program approaches include understanding underlying issues in respect of the focus areas and taking
            action in line with the defined objectives.
        </p>

    </div>
</div>

<div class="container">
    <div class="media">

        <div class="row">
            <div class="col-7 col-md-7">

                <div class="media-body" id="livelihood">
                    <h5 class="mt-4">Livelihood</h5>
                    <p>To select socio-economically backward area/areas and investigate means industrial, agricultural,
                        educational or otherwise to generate income sources for the people of that area by implementing
                        livelihood enhancement projects with the help of governmental or non-governmental agencies.</p>


                </div>
            </div>
            <div class="col-5 col-md-5">

                <img src="assets/custom/images/components/livelihood.png" class="img-fluid" alt="...">

            </div>
            <hr />
        </div>
    </div>
    <div class="row" id="education">
        <div class="col-5 col-md-5">

            <img src="assets/custom/images/components/education.png" class="img-fluid" alt="...">

        </div>

        <div class="col-7 col-md-7">

            <div class="media-body">
                <h5 class="mt-0">Education</h5>
                <p>To participate in planning and delivery of various schemes related to social welfare including health
                    and to coordinate therefore with associated Government/ Semi Government/ Non-Government
                    departments/agencies and the people of the local area</p>

            </div>
        </div>


    </div>

    <div class="media">

        <div class="row">
            <div class="col-7 col-md-7">

                <div class="media-body" id="livelihood">
                    <h5 class="mt-4">Livelihood</h5>
                    <p>To select socio-economically backward area/areas and investigate means industrial, agricultural,
                        educational or otherwise to generate income sources for the people of that area by implementing
                        livelihood enhancement projects with the help of governmental or non-governmental agencies.</p>

                </div>
            </div>
            <div class="col-5 col-md-5">

                <img src="assets/custom/images/components/livelihood.png" class="img-fluid" alt="...">

            </div>
        </div>
    </div>
    <div class="row" id="education">
        <div class="col-5 col-md-5">

            <img src="assets/custom/images/components/education.png" class="img-fluid" alt="...">

        </div>

        <div class="col-7 col-md-7">

            <div class="media-body">
                <h5 class="mt-0">Heritage</h5>
                <p>To protect local/national heritage, arts, culture and history, and to promote understanding of true
                    Indian cultural, philosophical and spiritual knowledge.</p>

            </div>
        </div>


    </div>

    <div class="media">

        <div class="row">
            <div class="col-7 col-md-7">

                <div class="media-body" id="livelihood">
                    <h5 class="mt-4">Advocacy</h5>
                    <p>To participate in planning and delivery of various social welfare schemes AABHAR aims to
                        influence existing and upcoming policies and therefore engages with policy makers and build
                        relationships with key State and National level networks and alliances to build support for the
                        rural and marginalized communities .</p>

                </div>
            </div>
            <div class="col-5 col-md-5">

                <img src="assets/custom/images/components/livelihood.png" class="img-fluid" alt="...">

            </div>
        </div>
    </div>





</div>

