<div class="separator"></div>
<footer class="footer footer-black footer-big">
    <div class="container">
        <div class="row">
            <div class="col-md-2 text-center col-sm-3 col-12 ml-auto mr-auto">
                <h4>Aabhar NGO</h4>
                <div class="social-area">
                    <a class="btn btn-just-icon btn-round btn-facebook mr-1">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                    <a class="btn btn-just-icon btn-round btn-twitter mr-1">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                    <a class="btn btn-just-icon btn-round btn-google">
                        <i class="fa fa-google-plus" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-9 col-sm-9 col-12 ml-auto mr-auto">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-6">
                        <div class="links">
                            <ul class="uppercase-links stacked-links">
                                <li>
                                    <a href="javascript:void(0)" >
                                        Home
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        Who we are
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        Core Values
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        Our work
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        Testimonials
                                    </a>
                                </li>
                            </ul>

                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-6">
                        <div class="links">
                            <ul class="uppercase-links stacked-links">
                                <li>
                                    <a href="javascript:void(0)">
                                       Contact Us
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                       Careers
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                       Donate
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-6">
                        <div class="links">
                            <ul class="uppercase-links stacked-links">
                                <li>
                                    <a href="javascript:void(0)">
                                        Blogs
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                       Resources
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                       Core Team
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-6">
                        <div class="links">
                            <ul class="stacked-links">
                                <li>
                                    <h4>1345<br /> <small>families helped</small></h4>
                                </li>
                                <li>
                                    <h4>11234<br /> <small>children educated</small></h4>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="copyright">
                    <div class="pull-left">
                        &copy; 2021 HimanshuB, made with love
                    </div>
                    <div class="links pull-right">
                        <ul>
                            <li>
                                <a href="javascript:void(0)">
                                    Company Policy
                                </a>
                            </li>
                            |
                            <li>
                                <a href="javascript:void(0)">
                                    Terms
                                </a>
                            </li>
                            |
                            <li>
                                <a href="javascript:void(0)">
                                    Privacy
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</footer>