<div class="section section-project cd-section" id="projects">

    <div class="project-4 section section-dark">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center mb-4">
                    <h3 class="title">How can you help/ get involved ?</h3> 
                    <h6 class="quote">&quot;Be the change that you want to see&quot; - Mahatma Gandhi</h6>                 
                </div>
            </div>
            <div class="space-top"></div>
            <div class="row">
                <div class="col-md-5 ml-auto">
                    <div class="card" data-background="image" style="background-image: url('assets/img/sections/get-involved/sebastien-gabrieles.jpg')">
                        <div class="card-icon">
                            <i class="nc-icon nc-mobile"></i>
                        </div>
                    </div>
                </div>

                <div class="col-md-5 mr-auto">
                    <div class="card card-plain">
                        <div class="card-body">
                            <h6 class="card-category">Donate</h6>
                            <a href="javascript:void(0)">
                                <h3 class="card-title">Donation sub line</h3>
                            </a>
                            <p class="card-description">One of the easiest, fastest, and most effective ways you can help achieve NGO objectives is through monetary support. With your contribution, we can reach out to more and more people from the rural marginalised communities with specific interventions. You can easily donate online via net banking, credit card and debit card.</p>

                            <div class="card-footer">
                                <a href="javascript:void(0)" class="btn btn-link btn-neutral">
                                    <i class="fa fa-book" aria-hidden="true"></i> Donate now
                                </a>
                                <a href="javascript:void(0)" class="btn btn-just-icon btn-link btn-neutral">
                                    <i class="fa fa-cc-visa" aria-hidden="true"></i>
                                </a>
                                <a href="javascript:void(0)" class="btn btn-just-icon btn-link btn-neutral">
                                    <i class="fa fa-cc-paypal" aria-hidden="true"></i>
                                </a>
                                <a href="javascript:void(0)" class="btn btn-just-icon btn-link btn-neutral">
                                    <i class="fa fa-cc-google-pay" aria-hidden="true"></i>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <br/><hr /><br/>
            <div class="row">
                <div class="col-md-5 ml-auto">
                    <div class="card card-plain">
                        <div class="card-body">
                            <h6 class="card-category">Campaigns</h6>
                            <a href="javascript:void(0)">
                                <h3 class="card-title">Campaign sub line</h3>
                            </a>
                            <p class="card-description">AABHAR proposes to initiate and organise campaigns to raise awareness to provide education, information and awareness about various schemes or programs and specific socio-educationally relevant issues so as to help them derive benefits of such education, schemes or programs...</p>

                            <div class="card-footer">
                                <a href="javascript:void(0)" class="btn btn-link btn-neutral">
                                    <i class="fa fa-book" aria-hidden="true"></i> Read More
                                </a>                                
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-5 mr-auto">
                    <div class="card" data-background="image" style="background-image: url('assets/img/sections/get-involved/john-towner.jpg')">
                        <div class="card-icon">
                            <i class="nc-icon nc-controller-modern"></i>
                        </div>
                    </div>
                </div>
            </div>
             <br/><hr /><br/>
            <div class="row">
                <div class="col-md-5 ml-auto">
                    <div class="card" data-background="image" style="background-image: url('assets/img/sections/get-involved/sebastien-gabrieles.jpg')">
                        <div class="card-icon">
                            <i class="nc-icon nc-mobile"></i>
                        </div>
                    </div>
                </div>

                <div class="col-md-5 mr-auto">
                    <div class="card card-plain">
                        <div class="card-body">
                            <h6 class="card-category">Volunteer</h6>
                            <a href="javascript:void(0)">
                                <h3 class="card-title">Volunteer sub line</h3>
                            </a>
                            <p class="card-description">Become a grassroots volunteer by contributing your time and service in any of our projects, camps or campaigns and you can be there to learn and help make a difference. For more details, write to us at : <u>aabharngo@gmail.com.</u></p>

                            <div class="card-footer">
                                <a href="javascript:void(0)" class="btn btn-link btn-neutral">
                                    <i class="fa fa-book" aria-hidden="true"></i> Read More
                                </a>
                            
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <br/><hr /><br/>
            <div class="row">
                <div class="col-md-5 ml-auto">
                    <div class="card card-plain">
                        <div class="card-body">
                            <h6 class="card-category">Internship</h6>
                            <a href="javascript:void(0)">
                                <h3 class="card-title">Internship sub line</h3>
                            </a>
                            <p class="card-description">From time to time, we activate short-term engagement opportunities for those who want to intern with us, to understand AABHAR’s work and further grasp the functionality of the development sector. We are always on the lookout for fresh, enthusiastic and dedicated minds to join our team. For more details, write to us at : <u>contactus@aabharngo.org</u></p>

                            <div class="card-footer">
                                <a href="javascript:void(0)" class="btn btn-link btn-neutral">
                                    <i class="fa fa-book" aria-hidden="true"></i> Read More
                                </a>                                
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-5 mr-auto">
                    <div class="card" data-background="image" style="background-image: url('assets/img/sections/get-involved/john-towner.jpg')">
                        <div class="card-icon">
                            <i class="nc-icon nc-controller-modern"></i>
                        </div>
                    </div>
                </div>
            </div>
             <br/><hr /><br/>
            <div class="row">
                <div class="col-md-5 ml-auto">
                    <div class="card" data-background="image" style="background-image: url('assets/img/sections/get-involved/sebastien-gabrieles.jpg')">
                        <div class="card-icon">
                            <i class="nc-icon nc-mobile"></i>
                        </div>
                    </div>
                </div>

                <div class="col-md-5 mr-auto">
                    <div class="card card-plain">
                        <div class="card-body">
                            <h6 class="card-category">Careers</h6>
                            <a href="javascript:void(0)">
                                <h3 class="card-title">Careers sub line</h3>
                            </a>
                            <p class="card-description">Be part of a team that focuses on developing rural India to drive long lasting equitable change. Write to us at : <u>aabhar@careindia.org </u> to join the AABHAR team, as we fight the underlying causes and ensure a life of dignity for the deprived</p>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
