<section class="intro bg-white py-5">
	<div class="container">
		<div class="row">
			<div class="col-md-7">
				<h2 class="display-3">a little about us.</h2>
				<p><B>AABHAR</B> is an NGO (society) registered under the Societies Registration Act 1860. Its main
					objectives are livelihood generation/enhancement, education/skill development, health/sanitation,
					drinking water, environment and cultural/historical/spiritual heritage protection/promotion with
					focus on rural/socio-economically backward areas. It does/will do so through well-planned and
					comprehensive programmes/projects in the mentioned focus areas in order that the people in the rural
					areas also live with dignity and security and avoid migrating to urban areas. The NGO operates with
					all India jurisdiction. The registered office of the society is in the National Capital region of
					Delhi</p>

				<p><a href="#!" class="btn btn-lg btn-primary">continue reading..</a>
				</p>
			</div>
			<div class="col-md-5">
				<img src="/assets/custom/images/components/about.jpg" alt="" class="img-fluid">
			</div>
		</div>
	</div>
</section>
<section class="bgBlue services py-5">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="display-3 text-white">Core Values</h2>
			</div>
			<div class="col-md-3">
				<div class="card serviceItems mb-3 rounded-0">
					<div class="card-body"><img class="card-img-top img-fluid"
							src="/assets/custom/images/components/web-development.jpg" alt="Card image cap">
						<h4 class="card-title">RESPECT</h4>
						<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
						<p class="card-text">Believing in and appreciating the dignity and potential of all human
							beings.</p>
						<hr><a href="#" class="btn btn-sm btn-success">Read more</a><a href="#"
							class="float-right btn btn-sm btn-primary">Get quote</a>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card serviceItems mb-3 rounded-0">
					<div class="card-body"><img class="card-img-top img-fluid" src="/images/app-development.jpg"
							alt="Card image cap">
						<h4 class="card-title">INTEGRITY</h4>
						<h6 class="card-subtitle mb-2 text-muted">iOS,
							subtitle</h6>
						<p class="card-text">Maintaining social, ethical and organisational norms and adhering to the
							code of conduct.</p>
						<hr><a href="#" class="btn btn-sm btn-success">Read more</a><a href="#"
							class="float-right btn btn-sm btn-primary">Get quote</a>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card serviceItems mb-3 rounded-0"><img class="card-img-top img-fluid"
						src="/images/SEO-services.jpg" alt="Card image cap">
					<div class="card-body">
						<h4 class="card-title">COMMITMENT</h4>
						<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
						<p class="card-text">Fulfilling organisational goals with full commitment towards our duties and
							responsibilities.</p>
						<hr><a href="#" class="btn btn-sm btn-success">Read more</a><a href="#"
							class="float-right btn btn-sm btn-primary">Get quote</a>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card serviceItems mb-3 rounded-0"><img class="card-img-top img-fluid"
						src="/images/SEO-services.jpg" alt="Card image cap">
					<div class="card-body">
						<h4 class="card-title">EXCELLENCE</h4>
						<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
						<p class="card-text">Setting high performance standards and being accountable for and
							responsible towards our work.</p>
						<hr><a href="#" class="btn btn-sm btn-success">Read more</a><a href="#"
							class="float-right btn btn-sm btn-primary">Get quote</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row text-white text-center mt-4">
			<div class="col-md-8 offset-md-2 mb-1">
				<h2 class="h3">Equality is important to us !</h2>
				<p>AABHAR works towards motivating and encouraging its staff to imbibe, internalise and demonstrate
					these defined core values of the organisation.</p>
			</div>
		</div>
	</div>
</section>
<section class="features py-5">
	<div class="container-fluid px-5">
		<div class="row">
			<div class="col-md-7">
				<h2 class="display-3">Our Partners</h2>
				<ul class="nav nav-tabs">
					<li class="nav-item">
						<a class="nav-link active" data-toggle="tab" href="#tab-one" role="tab">Our Thinking</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="#tab-two" role="tab">Corporate Partners</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="#tab-three" role="tab">Institutional Partners</a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="tab-one" role="tabpanel">
						<p>We forge long-term partnerships with our partners who offer complementary approaches and are
							able to effectively contribute to our programs addressing the underlying causes. Our
							approach to partnership is to build shared and deeper understanding on issues that affect
							people’s wellbeing and focuses on capacity development of communities and local
							organisations</p>

						<p><a href="#!" class="btn btn-lg btn-success">continue reading..</a>
						</p>
					</div>
					<div class="tab-pane" id="tab-two" role="tabpanel">
						<p>AABHAR recognizes that to drive meaningful change in the lives of rural and marginalised
							people, it’s imperative that the state, civil society, individuals and corporates works
							closely with each other. A wide lens approach that accommodates many more partners has
							become indispensable to avoid failures and multiply the odds of success. To leverage the
							efforts and capabilities of all stakeholders AABHAR is /will be working to achieve this
							goal, through strategic corporate collaborations</p>

						<p><a href="#!" class="btn btn-lg btn-success">continue reading..</a>
						</p>
					</div>
					<div class="tab-pane" id="tab-three" role="tabpanel">
						<p>It is the continuous support from institutional donors that ensures stability and allows more
							systemic and sustainable change through policy reforms, advocacy, research and new
							methodologies of intervention. Such funding is therefore vital in enlarging the canvas of
							outreach to ensure equal opportunities to human beings to achieve their full potential.</p>

						<p><a href="#!" class="btn btn-lg btn-success">continue reading..</a>
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-5 text-center">
				<img src="/assets/custom/images/components/watch.png" alt="" class="img-fluid">
			</div>
		</div>
	</div>
</section>

<section class="testimonials text-center bg-light">
	<div class="container">
		<h2 class="mb-5">GOVERNING BODY</h2>
		<div class="row">
			<div class="col-lg-4">
				<div class="testimonial-item mx-auto mb-5 mb-lg-0">
					<img class="img-fluid rounded-circle mb-3" src="/assets/custom/images/components/testimonials-2.jpg"
						alt="">
					<h5>BAL KRISHNA BADOLA.</h5>
					<p class="font-weight-light mb-0">"President"</p>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="testimonial-item mx-auto mb-5 mb-lg-0">
					<img class="img-fluid rounded-circle mb-3" src="/assets/custom/images/components/testimonials-1.jpg"
						alt="">
					<h5>PUSHPA BADOLA</h5>
					<p class="font-weight-light mb-0">"VICE PRESISENT"</p>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="testimonial-item mx-auto mb-5 mb-lg-0">
					<img class="img-fluid rounded-circle mb-3" src="/assets/custom/images/components/testimonials-3.jpg"
						alt="">
					<h5>MALLIKA SHARMA</h5>
					<p class="font-weight-light mb-0">"GENERAL SECRETARY"
					</p>
				</div>
			</div>
		</div>
		<div class="row py-2">
			<div class="col-lg-4">
				<div class="testimonial-item mx-auto mb-5 mb-lg-0">
					<img class="img-fluid rounded-circle mb-3" src="/assets/custom/images/components/testimonials-2.jpg"
						alt="">
					<h5>BAL KRISHNA BADOLA.</h5>
					<p class="font-weight-light mb-0">"President"</p>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="testimonial-item mx-auto mb-5 mb-lg-0">
					<img class="img-fluid rounded-circle mb-3" src="/assets/custom/images/components/testimonials-1.jpg"
						alt="">
					<h5>PUSHPA BADOLA</h5>
					<p class="font-weight-light mb-0">"VICE PRESISENT"</p>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="testimonial-item mx-auto mb-5 mb-lg-0">
					<img class="img-fluid rounded-circle mb-3" src="/assets/custom/images/components/testimonials-3.jpg"
						alt="">
					<h5>MALLIKA SHARMA</h5>
					<p class="font-weight-light mb-0">"GENERAL SECRETARY"
					</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="learnWithUs py-5">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center text-white">
				<h2 class="display-3">learning with us is fun!</h2>
				<p class="h3">It isn’t difficult! Just follow the steps.</p>
				<div class="row">
					<div class="col-md-4">
						<div class="rounded-circle step" data-tilt>
							<div class="tiltInner pt-5 text-center">
								<h4>Step 1</h4>
								<hr>
								<p>Create a free Account</p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="rounded-circle step" data-tilt>
							<div class="tiltInner pt-5 text-center">
								<h4>Step 2</h4>
								<hr>
								<p>Select your favourite Course</p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="rounded-circle step" data-tilt>
							<div class="tiltInner pt-5 text-center">
								<h4>Step 3</h4>
								<hr>
								<p>Start learning the course online</p>
							</div>
						</div>
					</div>
				</div>

				<a href="#!" class="btn btn-primary btn-lg mt-5">sign up now</a>
			</div>
		</div>
	</div>
</section>